{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تغییر پسورد</title>
    <link rel="stylesheet" href="{% static 'accounts/password_reset_confirm.css' %}">
</head>

<body>
<div class="container">
    {% if validlink %}
        <h1>تغییر پسورد</h1>
        <form method="post">
            {% csrf_token %}

            <label for="{{ form.new_password1.id_for_label }}" class="lable">رمز عبور جدید</label>
            {{ form.new_password1 }}

            <label for="{{ form.new_password2.id_for_label }}" class="lable">تکرار رمز عبور</label>
            {{ form.new_password2 }}

            <button type="submit">تغییر</button>
        </form>
    {% else %}
        <p class="error">آدرس معتبر نیست</p>
    {% endif %}
</div>
</body>
</html>
